*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
.main-section{
    background: linear-gradient(to right , rgb(74, 74, 82) , rgb(84, 84, 100));
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clock-section{
    background-color: rgb(63, 62, 62);
    height: 200px;
    width: 25%;
    border: 3px solid black;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.show-time{
    color: red;
    font-size: 80px;
}
#ampm{
    color: rgb(190, 47, 47);
    font-size: 40px;
}